<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
         <title>Petrol Pump Application</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
   
	<style>
		.error{
		margin-left5px;
			color:red;
		}
		.form-control{
			margin:5px;
		}
	</style>
  </head>
  <body>
   <div>
	   <li><a href="/ui/">Totalizer form</a></li>
	   <li><a href="/ui/graph">Graph Viewer</a></li>
	   <li><a href="/ui/table">Table Viewer</a></li>
	   <li><a href="/ui/dashboard">Dashboard</a></li>
   </div>
<div class="container">
	<div th:if="${enableMessage}">
		<div class="alert alert-success" role="alert" >
	  		<p th:text="${message}">Success message</p>
		</div>
	</div>
    <h1 class="display-5" th:text="${pump.name}">Pump Name</h1>
    <p class="lead" th:text="${pump.address}">Pump Address</p>
	<div class="col-8">
		<div class="mx-2 mb-2">
			<span class="display-6 text-uppercase">All Nozzles</span>
			<button class="btn btn-primary float-right" data-toggle="collapse" data-target="#nozzleForm">+Add Nozzle</button>
		</div>
	</div>
	<div class="col-6 mx-2 mt-2">
  
		<form class="form-inline jumbotron collapse" id="nozzleForm" action="#" th:action="@{/ui/dashboard}" th:object="${nozzle}" method="post">
			  
			  <input type="text" class="form-control mb-2 mr-sm-2" id="nozzleName" placeholder="Nozzle Name" required th:field="*{name}">
			  <label class="sr-only" for="oilType">Oil Type</label>
			  <div class="input-group mb-2 mr-sm-2">
			   <select class="custom-select my-1 mr-sm-2" id="oilType" required th:field="*{type}">
			    <option selected value="">Oil Type...</option>
			    <option value="DIESEL">DIESEL</option>
			    <option value="PETROL">PETROL</option>
			  </select>
			  </div>
			  <button type="submit" class="btn btn-primary mb-2">Submit</button>
		
		</form>		
	</div>
		<div class="clearfix"></div>
	<div class="col-6">
		<div class="mx-2 mt-2">
		<ul class="list-group" th:each="nozzle : ${nozzles}">
		  <li class="list-group-item">
		<a th:href="@{/ui/{id}/table(id=${nozzle.id})}" th:text="${nozzle.name}">Url</a></li>
		</ul>
		</div>
	</div>
	

	
<!--  temporary  temporary-->
<!-- <form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Totalizer Volume</label>
      <input type="text" class="form-control" id="volume" placeholder="1000.54" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Totalizer Amount</label>
      <input type="text" class="form-control" id="amount" placeholder="70000.4" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Date</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="date" class="form-control" id="date" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a Date.
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Save Totalizer</button>
</form>
 -->
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
    	  //temp
    	  	let tdate = $('#date').val();
    		let tvol = $('#volume').val(); 
    		let tamount = $('#amount').val();
    		if(tamount == '' || isNaN(tamount) || tsv <= 0){
    			$('#amount').after('<span class="error"> *Invalid Volume passed</span>');
    		}
    		//end of temp
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</div>

<script>
$(document).ready(function () {

});
</script>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>