<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
         <title>Petrol Pump Application</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<style>
		.error{
		margin-left5px;
			color:red;
		}
		.form-control{
			margin:5px;
		}
	</style>
  </head>
  <body>
   <div>
	   <li><a href="/ui/">Totalizer form</a></li>
	   <li><a href="/ui/graph">Graph Viewer</a></li>
	   <li><a href="/ui/table">Table Viewer</a></li>
	   <li><a href="/ui/dashboard">Dashboard</a></li>
	   <li><a href="/ui/pump">Pump Reg</a></li>
   </div>
  <div class="container">
  <h1>PUMP REGSITRATION</h1>
  <!--   <p th:text="${pump.name}">Pump Name</p>
    <p class="lead" th:text="${pump.address}">Pump Address</p> -->
	
	<hr>
	
	
	<div class="col-6 mx-2 mt-2">
  
		<form class="form-inline jumbotron" id="pumpForm" action="#" th:action="@{/ui/pump}" th:object="${pumpForm}" method="post">
			  
			  <input type="text" class="form-control mb-2 mr-sm-2" id="pumpName" placeholder="Pump Name" required th:field="*{name}">
			  <label class="sr-only" for="oilType">Oil Type</label>
			<input type="text" class="form-control mb-2 mr-sm-2" id="pumpAddress" placeholder="Pump Address" required th:field="*{address}">
			  <button type="submit" class="btn btn-primary mb-2">Submit</button>
		
		</form>		
	</div>
	
<script>
$(document).ready(function () {

});
</script>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>